main {
  padding: 0 32px;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  width: 311px;
  margin: 0 auto;
  color: #fff;
}

.project-card-outer {
  width: 311px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-card-outer:hover {
  cursor: pointer;
}

.project-card-inner {
  width: 100%;
  height: 100%;
  background: #00000055;
}

.project-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  height: 80%;
  padding: 1.5rem;
}

.seraph {
  background: url("../portfolio/mobile/image-seraph.jpg");
}

.eebox {
  background: url("../portfolio/mobile/image-eebox.jpg");
}

.federal {
  background: url("../portfolio/mobile/image-federal.jpg");
}

.del-sol {
  background: url("../portfolio/mobile/image-del-sol.jpg");
}

.prototype {
  background: url("../portfolio/mobile/image-prototype.jpg");
}

.T228b {
  background: url("../portfolio/mobile/image-228b.jpg");
}

.edelweiss {
  background: url("../portfolio/mobile/image-edelweiss.jpg");
}

.netcry {
  background: url("../portfolio/mobile/image-netcry.jpg");
}

.hypers {
  background: url("../portfolio/mobile/image-hypers.jpg");
}

.sxiv {
  background: url("../portfolio/mobile/image-sxiv.jpg");
}

.trinity {
  background: url("../portfolio/mobile/image-trinity.jpg");
}

.paramour {
  background: url("../portfolio/mobile/image-paramour.jpg");
}

@media (min-width: 567px) {
  main {
    padding: 97.5px;
    margin: 0 auto;
  }
  .page-marker {
    width: 386px;
    top: 150px;
    left: -150px;
  }
  .project-container,
  .project-card-outer {
    width: 573px;
  }
  .seraph {
    background: url("../portfolio/tablet/image-seraph.jpg");
  }
  .eebox {
    background: url("../portfolio/tablet/image-eebox.jpg");
  }
  .federal {
    background: url("../portfolio/tablet/image-federal.jpg");
  }
  .del-sol {
    background: url("../portfolio/tablet/image-del-sol.jpg");
  }
  .prototype {
    background: url("../portfolio/tablet/image-prototype.jpg");
  }
  .T228b {
    background: url("../portfolio/tablet/image-228b.jpg");
  }
  .edelweiss {
    background: url("../portfolio/tablet/image-edelweiss.jpg");
  }
  .netcry {
    background: url("../portfolio/tablet/image-netcry.jpg");
  }
  .hypers {
    background: url("../portfolio/tablet/image-hypers.jpg");
  }
  .sxiv {
    background: url("../portfolio/tablet/image-sxiv.jpg");
  }
  .trinity {
    background: url("../portfolio/tablet/image-trinity.jpg");
  }
  .paramour {
    background: url("../portfolio/tablet/image-paramour.jpg");
  }
}

@media (min-width: 768px) {
  main {
    max-width: 1110px;
    padding: 0 165px;
  }
  .project-container {
    display: -ms-grid;
    display: grid;
    width: 1110px;
    -ms-grid-columns: 350px 350px 350px;
        grid-template-columns: 350px 350px 350px;
  }
  .project-card-outer {
    width: 350px;
    height: 560px;
  }
  .project-card-content {
    height: 90%;
  }
  .seraph {
    background: url("../portfolio/desktop/image-seraph.jpg");
  }
  .eebox {
    background: url("../portfolio/desktop/image-eebox.jpg");
  }
  .federal {
    background: url("../portfolio/desktop/image-federal.jpg");
  }
  .del-sol {
    background: url("../portfolio/desktop/image-del-sol.jpg");
  }
  .prototype {
    background: url("../portfolio/desktop/image-prototype.jpg");
  }
  .T228b {
    background: url("../portfolio/desktop/image-228b.jpg");
  }
  .edelweiss {
    background: url("../portfolio/desktop/image-edelweiss.jpg");
  }
  .netcry {
    background: url("../portfolio/desktop/image-netcry.jpg");
  }
  .hypers {
    background: url("../portfolio/desktop/image-hypers.jpg");
  }
  .sxiv {
    background: url("../portfolio/desktop/image-sxiv.jpg");
  }
  .trinity {
    background: url("../portfolio/desktop/image-trinity.jpg");
  }
  .paramour {
    background: url("../portfolio/desktop/image-paramour.jpg");
  }
}
/*# sourceMappingURL=portfolio.css.map */