.primary-heading {
  width: 507px;
  height: 40px;
}

.primary-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 316px;
  height: 25px;
  list-style: none;
}

.nav-items li a {
  color: #7d828f;
  text-decoration: none;
}

.nav-items li a:hover {
  font-weight: bold;
}

#mobile-nav-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 10px;
  border: 0;
}

@media (max-width: 768px) {
  .primary-heading {
    width: 491px;
    height: 40px;
  }
  .primary-navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .primary-heading {
    width: 311px;
    height: 32px;
    margin: 2em auto;
  }
  .primary-navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav-items {
    display: none;
    position: fixed;
    right: 0;
    top: 92px;
    width: 247px;
    height: 139px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 48px;
    background-color: white;
    z-index: 9999;
  }
  #mobile-nav-btn {
    display: inline;
  }
  #mobile-nav-btn img {
    display: inline;
    width: auto;
    height: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

/* styling font's base style for the website */
body {
  font-family: "Spartan", sans-serif;
}

p,
a {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-decoration: none;
}

h1.heading-small {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.2px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.43px;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
}

/* styling components which will be same across all pages of website here */
/* styling the footer of the website below */
footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  margin: 144px 0 0 0;
  padding-bottom: 3rem;
  padding-top: 92px;
  background: #eeeff4;
}

.footer-logo {
  position: absolute;
  top: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  background-color: #1b1d23;
}

.footer-logo > svg {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

footer a {
  color: #7d828f;
}

.view-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  max-width: 252px;
  max-height: 72px;
  padding: 1.5em 1.75em;
  background-color: #1b1d23;
}

footer .view-portfolio {
  margin-top: 0;
}

.view-portfolio a {
  color: #eeeff4;
}

.page-marker {
  display: none;
}

@media (min-width: 576px) {
  /* styling font's base style for the website */
  p,
  a {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0ch;
  }
  h1.heading-large {
    font-size: 120px;
    line-height: 200px;
    letter-spacing: -3px;
    color: #c8ccd8;
  }
  h1.heading-small {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0px;
  }
  /* styling components which will be same across all pages of website here */
  .primary-heading {
    margin: 56px 0 56px 97px;
  }
  .page-marker {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    width: 265px;
    height: 25px;
    top: 115px;
    left: -80px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .page-marker hr {
    width: 104px;
  }
  .page-marker h3 {
    color: #c8ccd8;
  }
  /* styling the footer of the website below */
  footer {
    width: 612px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
    padding: 3rem 0 2.9rem 0;
    margin: 200px 0 0 0;
  }
  .footer-logo {
    left: 0;
    top: 0rem;
  }
  footer .view-portfolio {
    position: absolute;
    right: -7.5rem;
    top: 1.75rem;
  }
}

@media (min-width: 768px) {
  /* styling font's base style for the website */
  p,
  a {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
  }
  h1.heading-large {
    font-size: 200px;
    line-height: 200px;
    letter-spacing: -5px;
  }
  h1.heading-small {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0px;
  }
  /* styling components which will be same across all pages of website here */
  .primary-heading {
    margin: 56px 0 56px 164px;
  }
  main {
    max-width: 1110px;
  }
  /* styling the footer of the website below */
  footer {
    width: 984px;
    margin: 200px 0 0 165px;
    padding: 6rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3em;
  }
  .footer-logo {
    width: 200px;
    height: 200px;
  }
  .footer-logo svg {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .view-portfolio {
    justify-self: flex-end;
    margin-left: auto;
  }
  footer .view-portfolio {
    top: 4rem;
  }
}
/*# sourceMappingURL=shared.css.map */